:root {
  --max-width: 1100px;
  --gutter: 1.5rem;
  
  --text-color: #000;
  --background-color: #fff;
  --primary-color: #054982;
  --primary-color-1: #cddbe6;
  --primary-color-2: #9bb6cd;
  --primary-color-3: #6992b4;
  --primary-color-4: #376d9b;
  --primary-color-5: #054982;
  --primary-color-6: #043a68;
  --primary-color-7: #032c4e;
  --primary-color-8: #2C3643;
  --primary-color-9: #1f242e;

  --secondary-color: #C51317;

}

/* @media (prefers-color-scheme: dark) {
  :root {
    
  }
} */

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  max-width: 100vw;
  overflow-x: hidden;
}

html {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 62.5%;
  line-height: 1.15;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-size: 1.7rem;
}

a {
  color: var(--primary-color);
  text-decoration: underline;
}

img, svg {
  max-width: 100%;
  height: auto;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.visually-hidden {
  clip: rect(0 0 0 0); 
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; 
  width: 1px;
}